.login
  // display flex
  // justify-content center
  // align-items center
  position relative
  height 100%
  background #f3f3f3 url('/login-bg.jpeg') no-repeat

  .login-form
    width 320px
    padding 36px
    box-shadow 0 0 100px rgba(0, 0, 0, 0.08)
    background rgba(#fff, 0.7)
    position absolute
    right 15%
    top calc(((100% - 400px) / 3))

    .login-logo
      text-align center
      height 40px
      line-height 40px
      cursor pointer
      margin-bottom 24px

      span
        vertical-align text-bottom
        font-size 16px
        text-transform uppercase
        display inline-block

    .login-submit-button
      width 100%
